{% extends "base.html" %}
{% load static %}

{% block css %}
	
{% endblock  %}

{% block content %}	
					<div class="auto-container">
						<h2> Welcome to "MushroomShop"! </h2>

								Discover the world of aromatic and delicious mushrooms with us! We are delighted to welcome you to our online store, where you will find the freshest and highest quality selection of mushrooms. Whether you're looking for button mushrooms, chanterelles, porcini, or exotic varieties, we have everything to satisfy your culinary imagination.

								Enjoy the superb variety and utmost quality of our products. Trust in the expertise of "Mushroom Paradise" and immerse yourself in a world of flavors and aromas with us.

								Best regards,
								The "MushroomShop" Team

					</div>
{% endblock%}
					
	